/.idea/
/lesson2/test2.iml
*.idea
*target
*lib
/lesson9/mvnw.cmd
/lesson9/mvnw
/lesson9/HELP.md
/lesson1022/lesson10/babel.config.js
/lesson1022/lesson10/package.json
/lesson1022/lesson10/package-lock.json
/lesson10/babel.config.js
/lesson10/package.json
/lesson10/package-lock.json
/lesson11/backend/mvnw
/lesson11/backend/HELP.md
/lesson11/backend/mvnw.cmd
/lesson11/backend/wp.iml
/lesson11/frontend/node_modules/
/lesson11/frontend/babel.config.js
/lesson11/frontend/package.json
/lesson11/frontend/package-lock.json
/lesson11/frontend/vue.config.js
/lesson6/profile.properties
/lesson7/README.md
/lesson7/profile.properties
/lesson8/mvnw.cmd
/lesson8/mvnw
/lesson8/.gitignore
/lesson10/.gitignore
/lesson11/backend/.gitignore
